@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.75);
    }
}
@keyframes moveY {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40%);
    }
}
@keyframes moveY15 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15%);
    }
}
@keyframes moveTop {
    0% {
        top: $top-img;
    }
    100% {
        top: 30%;
    }
}
/* loading animation by Mr tashfene https://codepen.io/tashfene */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity $trans ease-in;
    &.appear {
        opacity: 1;
    }
}
@include mq($lg) {
    .from-left {
        transform: translateX(-50%);
    }
    .from-right {
        transform: translateX(50%);
    }
}
.slide-in {
    opacity: 0;
    transition: transform $trans ease-in, opacity $trans ease-in;
    &.appear {
        transform: translateX(0);
        opacity: 1;
    }
}
