@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.75);
    }
}
@keyframes moveY {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40%);
    }
}
@keyframes moveY15 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15%);
    }
}
@keyframes moveTop {
    0% {
        top: $top-img;
    }
    100% {
        top: 30%;
    }
}
.fade-in {
    opacity: 0;
    transition: opacity 700ms ease-in;
    &.appear {
        opacity: 1;
    }
}
.from-left {
    transform: translateX(-50%);
}
.from-right {
    transform: translateX(50%);
}
.slide-in {
    opacity: 0;
    transition: transform 700ms ease-in, opacity 700ms ease-in;
    &.appear {
        transform: translateX(0);
        opacity: 1;
    }
}
