@use "sass:list";
@use '../variables/flexProperties' as p;
@use '../helpers/mixins' as *;
//animations -------------
%on_click {
    transform: scale(0.95);
}
%on_click2 {
    transform: scale(1.2);
}
%hover_rotation {
    animation: rotation $animation-t linear infinite;
}
%hover_scale {
    animation: scale $trans linear infinite alternate;
}
%animation_moveY {
    animation: moveY 2 * $trans linear infinite alternate;
}
//------------------------------
%center {
    @include center;
}
%center-x {
    @include center-x;
}
@each $x in p.$justify-content {
    @each $y in p.$align-items {
        @each $direction in p.$flex-direction {
            @include flex-builder($x, $y, $direction);
        }
    }
}
