@use "sass:math";
.parent {
    // padding-top: 68px;
    // padding-bottom: 68px;
    padding: 89px 0;
    /* padding-bottom: 109px; */
}
.container {
    width: 95%;
    @include mq($sm) {
        width: math.div(10, 12) * 100%;
    }
    @include mq($md) {
        width: math.div(9, 12) * 100%;
    }
    @include mq($lg) {
        width: math.div(8, 12) * 100%;
    }
    max-width: 923px;
    margin-inline: auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    &,
    &:active {
        border: none;
        outline: none;
    }
}
.img.bg {
    @include before {
        @extend %center;
        background: var(--clr--cyan);
        border-radius: $radius;
        z-index: -1;
        width: 94.6%;
        padding-top: 94.6%;
    }
}
