@use "sass:math";
.parent {
    padding-top: 68px;
    padding-bottom: 68px;
}
.container {
    position: relative;
    width: math.div(4, 6) * 100%;
    max-width: 923px;
    margin-inline: auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    &,
    &:active {
        border: none;
        outline: none;
    }
}
.img.bg {
    @include before {
        @extend %center;
        background: var(--clr--cyan);
        border-radius: $radius;
        z-index: -1;
        width: 94.6%;
        padding-top: 94.6%;
    }
}
