* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr--bg);
}

:root {
  --clr--cyan: #407bff;
  --clr--cyan30: #407bff30;
  --clr--grey: #dedede;
  --clr--white: #ffffff;
  --clr-f-1: #4d4d4d;
  --clr-btn-grey: #b8b8b8;
  --clr-btn-blue: #4668c0;
  --clr-crd-black: #263238;
  --clr-crd-cyan: var(--clr--cyan);
  --clr-crd-green: #33bd41;
  --clr-crd-red: #c53f3f;
  --clr-crd-purple: #7e57c2;
  --clr-crd-yellow: #ffc100;
  --clr-sm-facebook: #3b5998;
  --clr-sm-instagram: #e95950;
  --clr-sm-linkedin: #007bb5;
}

body.light {
  --clr--primary: var(--clr--cyan);
  --clr--bg: #f2f2f2;
  --clr--title: var(--clr--cyan);
  --clr-f-2: var(--clr-f-1);
  --clr-sm-github: #212121;
}

body.dark {
  --clr--primary: #0a1836;
  --clr--bg: #212121;
  --clr--title: var(--clr--white);
  --clr-f-2: var(--clr--white);
  --clr-sm-github: var(--clr--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-weight: 700;
}

h1,
h2 {
  font-size: clamp(5px, 15vw, 42px);
}

h3 {
  font-size: 24px;
}

h6 {
  font-size: 17px;
}

p {
  font-size: 17px;
  font-weight: 400;
}

.topnav {
  width: 100%;
  top: 0;
  z-index: 7;
  padding: 10px 0;
  position: relative;
}

.topnav.sticky {
  position: fixed;
  box-shadow: 0px 4px 10px -5px #0000009e;
  background: var(--clr--primary);
}

.topnav.sticky .logo,
.topnav.sticky .buttons {
  --clr--title: var(--clr--white);
}

.topnav.sticky i {
  color: var(--clr--primary);
}

.topnav.sticky + * {
  padding-top: 68px;
}

.topnav .logo .img {
  width: 48px;
  height: 48px;
  border-radius: 0.7rem;
  background: var(--clr--title);
}

.topnav .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--clr--title);
}

.topnav .logo h3 {
  margin-left: 7px;
  color: var(--clr--title);
}

.topnav .buttons .menu {
  margin-left: 11.5px;
}

.topnav li {
  background: transparent;
}

.topnav li a,
.topnav li button {
  background: var(--clr--title);
  color: var(--clr--bg);
  border-radius: 0.7rem;
  font-size: 14px;
  width: 29px;
  height: 29px;
}

.topnav li a {
  min-width: 75px;
}

.topnav li button {
  cursor: pointer;
}

.topnav .links {
  display: none;
  background: var(--clr--bg);
  position: absolute;
  top: 68px;
  right: 50%;
  width: 100%;
  padding: 11.5px 0;
  transform: translateX(50%);
  z-index: -1;
  box-shadow: 0px 4px 10px -5px #0000009e;
}

.topnav .links ul {
  display: block;
}

.topnav .links li {
  margin: 11.5px 0;
}

.topnav .links li,
.topnav .links a {
  width: 100%;
}

@media (min-width: 768px) {
  .topnav.sticky {
    --clr--title: var(--clr--white);
  }
  .topnav.sticky a {
    color: var(--clr--primary);
  }
  .topnav .left {
    width: 88%;
    max-width: 519px;
    justify-content: flex-end !important;
    z-index: 3;
  }
  .topnav .links {
    width: 88%;
    display: block;
    position: static;
    box-shadow: unset;
    padding: 0;
    transform: unset;
    background: unset;
  }
  .topnav .links li {
    margin: unset;
    width: 72px;
  }
  .topnav .links ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .topnav .buttons {
    width: 10%;
  }
  .topnav .buttons ul {
    justify-content: flex-end !important;
  }
  .topnav .menu {
    display: none;
  }
}

.topnav.active .menu {
  transform: rotate(90deg);
}

.close {
  font-size: 24px;
  color: var(--clr-crd-red);
  background: var(--clr--white);
  border-radius: 50%;
  cursor: pointer;
}

.contactForm {
  display: none;
  position: fixed;
  top: 68px;
  left: 0;
  width: 100%;
  height: calc(100% - 68px);
  background: #000000dd;
  backdrop-filter: blur(10px);
}

.contactForm.active {
  display: block;
}

.contactForm .container {
  position: relative;
  max-width: 530px;
  min-height: 538px;
  background: var(--clr--bg);
  padding: 43px 56px;
  border-radius: 0.7rem;
}

.contactForm .close {
  position: absolute;
  top: 48px;
  right: 56px;
}

.contactForm h3 {
  text-align: left !important;
  font-size: 30px;
}

.contactForm p {
  font-weight: 300;
}

.contactForm .form {
  margin-top: 26px;
}

.contactForm .form > * {
  width: 100%;
  border-radius: 0.7rem;
  padding: 12px 16px;
  outline: 0;
  border: none;
  background: var(--clr--cyan30);
}

.contactForm .form > *, .contactForm .form > *::placeholder {
  color: var(--clr-f-2);
}

.contactForm .form > *::placeholder {
  font-weight: 300;
}

.contactForm .form > *:focus {
  border: 2px solid var(--clr--cyan);
}

.contactForm .form > *:not(:last-child) {
  margin-bottom: 17px;
}

.contactForm .form button {
  background: var(--clr--primary);
  color: var(--clr--white);
  cursor: pointer;
}

.contactForm textarea {
  resize: none;
  min-height: 122px;
}

.contactForm h3 {
  color: var(--clr--title);
}

.contactForm p {
  color: var(--clr-f-2);
}

.settings {
  background: var(--clr--white);
  border-radius: 0.7rem;
  margin-inline: auto;
  box-shadow: 0px 4px 10px -5px #0000009e;
}

.settings h3,
.settings h4,
.settings h5,
.settings h6 {
  text-align: left;
}

.settings h3 {
  font-size: 30px;
  color: var(--clr-f-1);
}

.settings .title {
  padding: 30px 30px 0;
}

.settings ul {
  padding: 20px 30px 30px;
}

.settings ul li {
  margin-bottom: 20px;
}

@media (min-width: 366px) {
  .settings ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
  }
  .settings ul li {
    margin: 0;
    justify-content: unset !important;
  }
}

.settings li {
  background: var(--clr-btn-grey);
  padding: 14px;
  border-radius: 0.7rem;
  color: var(--clr--white);
  min-height: 71px;
  user-select: none;
  cursor: pointer;
}

.settings li.active:nth-of-type(1) {
  background: var(--clr-crd-red);
}

.settings li.active:nth-of-type(2) {
  background: var(--clr-crd-yellow);
}

.settings li.active:nth-of-type(3) {
  background: var(--clr-crd-green);
}

.settings li.active:nth-of-type(4) {
  background: var(--clr-crd-cyan);
}

.settings li.active:nth-of-type(5) {
  background: var(--clr-crd-black);
}

.settings li.active h6::before {
  content: "Enabled";
}

.settings h4 {
  font-size: 36px;
  margin-right: 6px;
}

.settings h5 {
  font-weight: 400;
  font-size: 13px;
}

.settings h6 {
  position: relative;
  font-weight: 300;
  font-size: 12px;
  min-height: 13.6px;
}

.settings h6::before {
  content: "Disabled";
  position: absolute;
}

.settings .select {
  background: var(--clr-crd-purple);
  justify-content: space-between !important;
  cursor: initial;
}

.settings .select button {
  font-size: 24px;
  background: none;
  color: var(--clr-crd-purple);
  background: var(--clr--white);
  border-radius: 0.7rem;
  width: 21px;
  height: 21px;
  transition: background 0.2s ease;
}

.settings .select button:hover {
  background: var(--clr--grey);
}

.settings .select h4 {
  margin: 0;
}

h1 {
  color: var(--clr--title);
  margin: 0;
  margin-bottom: 9px;
  line-height: 35px;
}

header.active .hidden {
  display: block;
}

@media (min-width: 992px) {
  header.active .hidden {
    width: 48.4%;
    padding-top: 48.4%;
    position: relative;
  }
  header.active .hidden .settings {
    position: absolute;
    top: 0;
    right: 0;
  }
}

header.active .img.bg {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding-top: 8.5px !important;
  }
}

header .container:nth-child(2) {
  margin-top: 45px;
}

header .hidden {
  display: none;
}

header p {
  color: var(--clr-f-2);
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  line-height: 20px;
}

header .title p {
  font-size: 24px;
  line-height: 25px;
}

@media (min-width: 992px) {
  header h1,
header p {
    text-align: left;
  }
  header .container {
    display: flex;
    align-items: center;
  }
  header .left_box {
    width: 51.6%;
  }
  header .img {
    width: 48.4%;
  }
  header .img::before {
    top: 0 !important;
    left: 100% !important;
    transform: translate(-100%, 0) !important;
  }
}

.left_box > *:not(:last-child) {
  margin-bottom: 24px;
}

.__clipboard {
  font-size: 24px;
}

.__clipboard .screen {
  position: relative;
}

.__clipboard input {
  width: 100%;
  padding: 2px 0.7rem;
  height: 50px;
  border-radius: 0.7rem;
}

.__clipboard input, .__clipboard input:focus {
  outline: none;
  border: none;
}

.__clipboard label {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 0.7rem;
}

.generator input {
  color: var(--clr-f-1);
  background: var(--clr--grey);
  margin-bottom: 9px;
}

.generator label {
  color: var(--clr--white);
  background: var(--clr-btn-grey);
}

.generator .buttons {
  margin-inline: -4.5px;
  flex-wrap: wrap;
}

.generator button {
  height: 50px;
  margin-inline: 4.5px;
  margin-top: 9px;
  min-width: 165px;
  flex-grow: 1;
  border-radius: 0.7rem;
  color: var(--clr--white);
  padding: 13px 18px;
  cursor: pointer;
}

.generator button:nth-child(1) {
  background: var(--clr-btn-blue);
}

.generator button:nth-child(2) {
  background: var(--clr-crd-green);
}

.remember input {
  visibility: hidden;
  background: var(--clr--bg);
  color: var(--clr-f-2);
}

.remember input, .remember input:focus {
  border: 3px solid var(--clr--grey);
}

.remember label {
  visibility: hidden;
  color: var(--clr-btn-grey);
}

.remember p {
  margin-bottom: 9px;
}

.readMore {
  font-size: 17px;
  text-align: center;
  margin-top: 43px;
  color: var(--clr--title);
  bottom: 68px;
}

.readMore i {
  display: block;
  font-size: 24px;
}

.readMore i:nth-of-type(1) {
  opacity: 0.6;
}

.readMore i:nth-of-type(2) {
  margin-top: -14px;
}

.features {
  background: var(--clr--primary);
}

.features h2 {
  color: var(--clr--white);
}

.features ul {
  flex-wrap: wrap;
}

.features .card {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 231px;
  min-height: 231px;
  margin-top: 56px;
  padding: 29px;
  border-radius: 0.7rem;
  background: var(--clr--white);
  cursor: pointer;
  box-shadow: 2px 2px 2px #00000040;
}

.features .card:hover img {
  animation: moveTop 1.4s linear infinite alternate;
}

.features .card p {
  display: none;
  margin-top: 25px;
  color: var(--clr--white);
  text-align: center;
  font-size: 14px;
  line-height: 16.4px;
}

.features .card img {
  top: 21.2%;
  min-height: 173px;
  width: calc(100% - 58px);
}

.features .card:nth-of-type(1) h3 {
  color: var(--clr-crd-black);
}

.features .card:nth-of-type(1).active {
  background: var(--clr-crd-black);
}

.features .card:nth-of-type(2) h3 {
  color: var(--clr-crd-cyan);
}

.features .card:nth-of-type(2).active {
  background: var(--clr-crd-cyan);
}

.features .card:nth-of-type(3) h3 {
  color: var(--clr-crd-green);
}

.features .card:nth-of-type(3).active {
  background: var(--clr-crd-green);
}

.features .card:nth-of-type(4) h3 {
  color: var(--clr-crd-red);
}

.features .card:nth-of-type(4).active {
  background: var(--clr-crd-red);
}

.features .card:nth-of-type(5) h3 {
  color: var(--clr-crd-purple);
}

.features .card:nth-of-type(5).active {
  background: var(--clr-crd-purple);
}

.features .card:nth-of-type(6) h3 {
  color: var(--clr-crd-yellow);
}

.features .card:nth-of-type(6).active {
  background: var(--clr-crd-yellow);
}

.features .card.active h3 {
  color: var(--clr--white);
}

.features .card.active p {
  display: block;
}

.features .card.active img {
  opacity: 0.2;
  animation: none;
}

.faqs h2 {
  background: var(--clr--cyan);
  color: var(--clr--white);
  padding: 4.6px;
  border-radius: 0.7rem;
  width: 137px;
  margin-inline: auto;
}

.faqs .column {
  color: var(--clr-f-2);
  margin-top: 39px;
}

.faqs p {
  color: var(--clr-f-1);
  padding: 12px;
  margin-right: 22px;
}

.faqs li {
  background: var(--clr--grey);
  border-radius: 0.7rem;
}

.faqs li:not(:last-child) {
  margin-bottom: 20px;
}

.question {
  position: relative;
  min-height: 45px;
  background: var(--clr--white);
  border-radius: 0.7rem;
}

.question p {
  font-weight: 700;
  margin-left: 45px;
}

.chevron {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 45px;
  height: 100%;
}

.chevron label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: var(--clr--cyan);
  border-radius: 0.7rem;
  font-size: 24px;
  color: var(--clr--white);
}

.chevron input {
  display: none;
}

.faqs p.answer {
  display: none;
  margin-left: 45px;
}

.faqs li.active input + label i {
  transform: scaleY(-1);
}

.faqs li.active p.answer {
  display: block;
}

.aboutUs {
  background: url("1.90f12df9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  position: relative;
}

.aboutUs::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--clr--cyan);
  z-index: -1;
  opacity: 0.66;
}

.profile {
  overflow: hidden;
  min-height: 249px;
  max-width: 384px;
  margin-inline: auto;
  border-radius: 0.7rem;
  background: var(--clr--bg);
}

.profile .public {
  cursor: pointer;
  width: 100%;
  position: relative;
}

.profile .public h3 {
  user-select: none;
}

.profile h3 {
  color: var(--clr--title);
  padding: 5px;
}

.profile .img {
  background: var(--clr--primary);
  opacity: 0.9;
}

.profile .img img {
  display: block;
  margin-inline: auto;
  width: 85.7%;
  z-index: 4;
}

.profile .content {
  display: none;
  position: relative;
  text-align: center;
}

.profile .content .desc {
  width: 71.8%;
  margin-inline: auto;
}

.profile .content h3 {
  margin-bottom: 10px;
}

.profile .content p {
  color: var(--clr-f-2);
}

.profile .content ul {
  margin: auto;
  margin-top: 10px;
  width: 63.3%;
  max-width: 249px;
  overflow: hidden;
}

.profile .content ul li {
  width: 48px;
  height: 48px;
}

.profile .content ul li,
.profile .content ul li a {
  transform: translateY(50%);
}

.profile .content ul li:hover, .profile .content ul li:hover a {
  transform: translateY(0);
}

.profile .content ul li a {
  color: var(--clr--white);
  font-size: 24px;
}

.profile .content ul li:last-child a {
  color: var(--clr--bg);
}

.profile .content ul li:nth-of-type(1) {
  background: var(--clr-sm-facebook);
}

.profile .content ul li:nth-of-type(2) {
  background: var(--clr-sm-instagram);
}

.profile .content ul li:nth-of-type(3) {
  background: var(--clr-sm-linkedin);
}

.profile .content ul li:nth-of-type(4) {
  background: var(--clr-sm-github);
}

.profile.active .public h3 {
  display: none;
}

.profile.active .content {
  display: block;
}

@media (min-width: 768px) {
  .profile {
    display: flex;
    max-width: unset;
  }
  .profile .img {
    width: 100%;
    position: relative;
  }
  .profile .img::before {
    content: "IDJA MOHAMED OUANIS";
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr--white);
    position: absolute;
    font-size: clamp(40px, 5vw, 90px);
    text-align: center;
    width: 100%;
    font-weight: 700;
    opacity: 0.33;
    z-index: -1;
  }
  .profile .img img {
    width: 249px;
    max-height: 249px;
  }
  .profile .public h3 {
    display: none;
  }
  .profile .content {
    align-items: center;
  }
  .profile .content,
.profile .content h3 {
    text-align: left;
    padding-left: 0;
  }
  .profile .content p {
    margin-bottom: 24px;
  }
  .profile .content ul {
    position: absolute;
    bottom: 0;
  }
  .profile.active .img::before {
    display: none;
  }
  .profile.active .content {
    display: flex !important;
  }
  .profile.active .public {
    width: 249px;
    margin: 0;
  }
}

.contactUs {
  color: var(--clr-f-2);
}

.contactUs .container > *:not(:last-child) {
  margin-bottom: 33px;
}

.contactUs h2 {
  font-size: 36px;
  color: var(--clr--title);
}

.contactUs li:not(:last-child) {
  margin-bottom: 14px;
}

.contactUs li span {
  width: 40px;
  height: 40px;
  min-width: 40px;
  font-size: 30px;
  color: var(--clr--white);
  background: var(--clr-crd-yellow);
  border-radius: 0.7rem;
}

.contactUs p {
  padding-left: 9px;
}

.contactUs a {
  color: inherit;
  text-decoration: underline;
}

.contactUs button {
  background: var(--clr-crd-green);
  color: var(--clr--white);
  border-radius: 0.7rem;
  padding: 7px;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.contactUs br {
  display: none;
}

@media (min-width: 992px) {
  .contactUs .container {
    display: grid;
    grid-template-columns: 35% auto;
    column-gap: 3.3%;
  }
  .contactUs .container > *:not(:last-child) {
    margin-bottom: 15px;
  }
  .contactUs h2 {
    text-align: left;
    font-size: clamp(10px, 3vw, 36px);
  }
  .contactUs button {
    max-width: 144px;
    margin-inline: auto;
    margin-bottom: 0 !important;
    max-height: 48px;
  }
  .contactUs li:not(:last-child) {
    margin-bottom: 12px;
  }
  .contactUs br {
    display: initial;
  }
  .contactUs .img {
    grid-column-start: 1;
    grid-row: 1/span 3;
  }
  .contactUs .img:before {
    top: 0 !important;
    left: 0 !important;
    transform: unset !important;
    padding-top: 0 !important;
    height: 100%;
  }
}

.statistics {
  background: var(--clr--primary);
  color: var(--clr--white);
}

.statistics li {
  flex-wrap: wrap;
}

.statistics .square {
  width: 81px;
  height: 81px;
  background: var(--clr--white);
  color: var(--clr--primary);
  border-radius: 0.7rem;
  font-size: 42px;
}

.statistics .square div {
  line-height: 32px;
}

.statistics .square span {
  font-weight: 700;
}

.statistics .details {
  margin: 8px;
  line-height: 30px;
}

.statistics h5,
.statistics h4 {
  font-weight: 400;
  font-size: 40px;
}

.statistics h4 {
  font-size: 24px;
}

.footer__main .container {
  display: grid;
  grid-gap: 50px;
  justify-content: center;
  justify-items: center;
}

@media (min-width: 396px) {
  .footer__main .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) {
  .footer__main .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .footer__main .container {
    grid-template-columns: repeat(5, auto);
    justify-content: unset !important;
    justify-items: unset !important;
  }
}

.footer__main .container > * {
  max-width: 180px;
}

.footer__main .img {
  width: 100%;
}

.footer__main img {
  width: 100%;
  max-width: 128px;
  max-height: 128px;
  border: solid 3px var(--clr--title);
  border-radius: 0.7rem;
}

.footer__main h3 {
  color: var(--clr--title);
}

.footer__main li,
.footer__main a {
  color: var(--clr-f-2);
  text-align: center;
  font-weight: 300;
}

.footer__main a:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .footer__main .img {
    width: 133px;
  }
  .footer__main .img img {
    margin-right: auto;
  }
  .footer__main a,
.footer__main li,
.footer__main h3 {
    text-align: left;
  }
}

.copyrights {
  color: var(--clr--white);
  background: var(--clr--primary);
  border-bottom: solid 7px var(--clr--bg);
  padding: 21px 0;
}

@media (min-width: 992px) {
  .copyrights .container {
    display: flex;
    justify-content: space-between;
  }
}

.copyrights i {
  color: var(--clr-crd-red);
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40%);
  }
}

@keyframes moveY15 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15%);
  }
}

@keyframes moveTop {
  0% {
    top: 21.2%;
  }
  100% {
    top: 30%;
  }
}

button:active, .close:active, .settings li.button:active, .generator button:active {
  transform: scale(0.95);
}

.__clipboard label:active i {
  transform: scale(1.2);
}

.settings:hover h3 i, .generator button:nth-child(1):hover i {
  animation: rotation 2s linear infinite;
}

.generator button:nth-child(2):hover i {
  animation: scale 0.7s linear infinite alternate;
}

.readMore i {
  animation: moveY 1.4s linear infinite alternate;
}

.img.bg::before, .contactForm .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features .card img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.statistics .square div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topnav .logo, .topnav .logo .img, .topnav li a,
.topnav li button, .topnav.active .links, .settings li, .settings .select button, .__clipboard label, .chevron label, .profile .content ul li, .contactUs li span, .statistics li, .statistics .square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__main .img {
  display: flex;
  justify-content: center;
}

.topnav .container, .settings .title, .generator button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav .left, .topnav .buttons ul, .generator .buttons, .profile .content ul, .statistics ul {
  display: flex;
  justify-content: space-between;
}

.features ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.features .card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question, .contactUs li {
  display: flex;
  align-items: center;
}

.parent {
  padding: 68px 0;
}

.container {
  width: 95%;
  margin-inline: auto;
}

@media (min-width: 576px) {
  .container {
    width: 83.3333333333%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 75%;
    max-width: 576px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 83.3333333333%;
    max-width: 923px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  user-select: none;
}

button, button:active {
  border: none;
  outline: none;
}

.img.bg {
  position: relative;
}

.img.bg::before {
  content: "";
  position: absolute;
  background: var(--clr--cyan);
  border-radius: 0.7rem;
  z-index: -1;
  width: 94.6%;
  padding-top: 94.6%;
}
/*# sourceMappingURL=index.d6964b6e.css.map */
