.contactForm {
    position: fixed;
    top: 68px;
    left: 0;
    @include size(100%, calc(100% - 68px));
    background: #000000dd;
    backdrop-filter: blur(10px);
    .container {
        max-width: 530px;
        min-height: 538px;
        @extend %center;
        background: var(--clr--bg);
        padding: 43px 56px;
        border-radius: $radius;
    }
    .close {
        position: absolute;
        top: 43px + 5;
        right: 56px;
        font-size: $fs3;
        color: var(--clr-crd-red);
        background: var(--clr--white);
        border-radius: 50%;
        cursor: pointer;
    }
    h3 {
        text-align: left !important;
        font-size: $fs-contact;
    }
    p {
        font-weight: $fw-light;
    }
    .form {
        margin-top: 26px;
        & > * {
            width: 100%;
            border-radius: $radius;
            padding: 12px 16px;
            outline: 0;
            border: none;
            background: var(--clr--grey);
            &,
            &::placeholder {
                color: var(--clr-f-1);
            }
            &::placeholder {
                font-weight: $fw-light;
            }
            &:focus {
                border: 2px solid var(--clr--cyan);
            }
            &:not(:last-child) {
                margin-bottom: 17px;
            }
        }
        button {
            background: var(--clr--cyan);
            color: var(--clr--white);
        }
    }
    textarea {
        resize: none;
        min-height: 122px;
    }
    h3 {
        color: var(--clr--title);
    }
    p {
        color: var(--clr-f-2);
    }
}
