@use "sass:math";
//shortcut popup
body.dark {
    .shortcutPop,
    .shortcuts {
        .container {
            box-shadow: 1px 2px 10px -7px #ffffff9e;
        }
    }
}
.shortcutPop,
.shortcuts {
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: math.div($h-topnav, 2);
    transform: translateY(calc(100% + #{math.div($h-topnav, 2)}));
    transition: transform $trans ease-in;
    &.ie {
        display: none;
    }
    &.active {
        @include mq($lg) {
            transform: translateY(0);
        }
    }
    .container {
        background: var(--clr--bg);
        border-radius: $radius;
        padding: $pt-topnav 24px;
        box-shadow: 1px 2px 14px -8px #0000009e;
        color: var(--clr-f-2);
    }
    .keys {
        margin: -2px;
        @include flex(center);
    }
    .char {
        user-select: none;
        @include size(36px);
        @include flex(center);
        display: inline-block;
        font-size: $fs4;
        margin: -7px;
    }
    span {
        user-select: none;
        @include min-size(36px);
        padding: 0 5px;
        @include flex(center);
        display: inline-block;
        font-size: $fs5;
        margin: 2px;
        background: var(--clr-f-2);
        color: var(--clr--bg);
        cursor: pointer;
        border-radius: 3px;
        box-shadow: 3px 3px var(--clr-btn-grey);
        transition: $trans;
        &:hover {
            transform: translate(3px, 3px);
            box-shadow: unset;
        }
    }
}
.shortcutPop {
    .container {
        @include flex(space-between, center);
        min-height: $h-topnav;
    }
    p {
        font-size: $fs4;
        display: inline-block;
        margin-right: 10px;
    }
    .message {
        @include flex(center);
    }

    button {
        border-radius: $radius;
        &:nth-child(1) {
            background: inherit;
            font-weight: $fw-light;
            color: inherit;
        }
        &:nth-child(2) {
            margin-left: 10px;
            padding: 10px 20px;
            font-weight: $fw-bold;
            background: var(--clr-crd-green);
            color: var(--clr--white);
        }
    }
}
.shortcuts {
    $margin: 5px * 2;
    .container {
        padding: 24px;
    }
    .title {
        @include flex(space-between, center);
        padding-bottom: $margin * 2;
    }
    .sections {
        @include flex;
        margin: -$margin;
    }
    button {
        margin-bottom: -4px;
        text-align: left;
        color: var(--clr--title);
        margin: $margin;
        padding-bottom: $margin;
        font-weight: $fw-light;
        background: initial;
        font-size: $fs3;
        &.active {
            border-bottom: 5px solid var(--clr--title);
            font-weight: $fw-bold !important;
        }
    }
    .column {
        display: none;
        &.active {
            display: block;
        }
    }
    ul {
        margin: -$margin;
        @include flex(space-between, center) {
            flex-wrap: wrap;
        }
    }
    li {
        @include flex(space-between, center);
        width: calc(45% - #{$margin});
        margin: $margin;
        &.hidden {
            visibility: hidden;
        }
    }
    h6 {
        text-align: left;
        font-weight: $fw-regular;
    }
}
