.topnav {
    width: 100%;
    top: 0;
    z-index: 7;
    padding: $pt-topnav 0;
    position: relative;
    margin: $sticky-m 0;
    &.sticky {
        position: fixed;
        box-shadow: 0px 4px 10px -5px #0000009e;
        background: var(--clr--primary);
        width: calc(100% - #{$sticky-m * 2});
        border-radius: 0.775rem;
        margin: $sticky-m;
        .logo {
            .img {
                background: var(--clr--white);
            }
            img {
                border: 2px solid var(--clr--white);
            }
            h3 {
                color: var(--clr--white);
            }
        }
        button {
            background: var(--clr--white);
        }
        i {
            color: var(--clr--primary);
        }
        //add padding to the next element
        & + * {
            padding-top: $h-topnav;
        }
    }
    .container {
        @include flex(space-between, center);
    }
    .left {
        @include flex(space-between, null);
    }
    .logo {
        @include flex(center);
        .img {
            @include flex(center);
            @include size($h-logo);
            border-radius: $radius;
            background: var(--clr--title);
        }
        img {
            @include size(100%);
            border-radius: 50%;
            border: 2px solid var(--clr--title);
        }
        h3 {
            margin-left: 7px;
            color: var(--clr--title);
        }
    }
    .buttons {
        .menu {
            margin-left: 11.5px;
        }
        ul {
            @include flex(space-between, null);
        }
    }
    li {
        a,
        button {
            background: var(--clr--title);
            @include flex(center);
            color: var(--clr--bg);
            border-radius: $radius;
            font-size: 14px;
            @include size(29px);
        }
        background: transparent;
        a {
            min-width: 75px;
        }
        button {
            cursor: pointer;
        }
    }
    .links {
        display: none;
        background: var(--clr--bg);
        position: absolute;
        top: $h-topnav;
        right: 50%;
        width: 100%;
        padding: 11.5px 0;
        transform: translateX(50%);
        z-index: -1;
        border-bottom: 15px solid var(--clr--primary);
        border-radius: 0 0 $radius $radius;
        box-shadow: 0px 4px 10px -5px #0000009e;
        ul {
            display: block;
        }
        li {
            margin: 11.5px 0;
        }
        li,
        a {
            width: 100%;
        }
    }
    @include mq($md) {
        &.sticky {
            a {
                color: var(--clr--primary);
            }
            li {
                a {
                    background: var(--clr--white);
                }
            }
        }
        .left {
            width: 88%;
            max-width: 519px;
            justify-content: flex-end !important;
            z-index: 3;
        }
        .links {
            width: 88%;
            display: block;
            position: static;
            box-shadow: initial;
            padding: 0;
            transform: unset;
            background: initial;
            border-bottom: initial;
            li {
                margin: unset;
                width: 72px;
            }
            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
        .buttons {
            width: 10%;
            ul {
                justify-content: flex-end !important;
            }
        }
        .menu {
            display: none;
        }
    }
    &.active {
        .links {
            @include flex(center);
        }
        .menu {
            transform: rotate(90deg);
        }
    }
}
// when the user click the theme toggle btn
// the icon will change
body {
    .theme-button i.sun {
        display: none;
    }
    //theme class name
    &.dark {
        .theme-button i.sun {
            display: block;
        }
        .theme-button i.moon {
            display: none;
        }
    }
}
