h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-weight: $fw-bold;
}
h1,
h2 {
    // font-size: $fs1;
    font-size: clamp(5px, 15vw, #{$fs2});
}
h3 {
    font-size: $fs3;
}
h6 {
    font-size: $fs5;
}
p {
    // font-size: $fs5;
    font-weight: $fw-regular;
}
