.aboutUs {
    background: url("../images/AboutUs/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    @include before {
        inset: 0;
        @include size(100%);
        background: var(--clr--bg-cyan);
        z-index: -1;
        opacity: 0.66;
        // opacity: 0.8;
    }
}
.profile {
    overflow: hidden;
    min-height: 249px;
    max-width: 384px;
    margin-inline: auto;
    border-radius: $radius;
    background: var(--clr--bg);
    .public {
        cursor: pointer;
        width: 100%;
        position: relative;
        h3 {
            user-select: none;
        }
    }
    h3 {
        color: var(--clr--title);
        padding: 5px;
    }
    .img {
        background: var(--clr--primary);
        overflow: hidden;
        opacity: 0.9;
        @include after {
            top: 50%;
            left: 50%;
            transform: translate(-50%,15%);
            @include size(45px);
            border-radius: 50%;
            background: rgba(255, 255, 255, 15%);
            z-index: -1;
        }
        img {
            display: block;
            transition: $trans;
            margin-inline: auto;
            width: 85.7%;
            z-index: 4;
        }
    }
    .content {
        display: none;
        position: relative;
        text-align: center;
        .desc {
            width: 90%;
            margin-inline: auto;
        }
        h3 {
            margin-bottom: 10px;
        }
        p {
            color: var(--clr-f-2);
        }
        ul {
            @include flex(space-between, null);
            margin: auto;
            margin-top: 10px;
            max-width: 249px;
            overflow: hidden;
            li {
                @include flex(center);
                @include size(48px);
                &,
                a {
                    transition: $trans;
                    transform: translateY(50%);
                }
                &:hover,
                &:hover a {
                    transform: translateY(0);
                }
                a {
                    color: var(--clr--white);
                    font-size: $fs3;
                }
                &:last-child a {
                    color: var(--clr--bg);
                }
                @each $group, $content in $colors {
                    @if ($group == sm) {
                        $i: 1;
                        @each $color, $hex in $content {
                            @if (length($hex) == 1) {
                                &:nth-of-type(#{$i}) {
                                    background: var(--clr-#{$group}-#{"" + $color});
                                }
                                $i: $i + 1;
                            }
                            @if (length($hex) == 2) {
                                &:nth-of-type(#{$i}) {
                                    background: var(
                                        --clr-#{$group}-#{"" + nth($color, 1)}
                                    );
                                }
                                $i: $i + 1;
                            }
                        }
                    }
                }
            }
        }
    }
    &.active {
        .public {
            h3 {
                display: none;
            }
        }
        .content {
            display: block;
        }
    }
}
@include mq($md) {
    .profile {
        display: flex;
        max-width: initial;
        .img {
            min-width: 249px;
            @include before("IDJA MOHAMED OUANIS") {
                @include center;
                color: var(--clr--white);
                position: absolute;
                font-size: clamp(40px, 5vw, 75px);
                text-align: center;
                width: 100%;
                font-weight: $fw-bold;
                opacity: 0.33;
                z-index: -1;
            }
            img {
                width: 249px;
                max-height: 249px;
            }
        }
        .public {
            h3 {
                display: none;
            }
        }
        .content {
            align-items: center;
            &,
            h3 {
                text-align: left;
                padding-left: 0;
            }
            p {
                margin-bottom: 24px;
            }
            ul {
                position: absolute;
                width: 63.3%;
                bottom: 0;
            }
        }
        &.active {
            .img::before {
                display: none;
            }
            .content {
                display: flex !important;
            }
            .public {
                width: 249px;
                margin: 0;
            }
        }
    }
    @include mq($lg) {
        .desc {
            width: 71.8% !important;
        }
    }
}
//on hover
.aboutUs .profile{
    &:hover {
        img {
            transform: scale(1.1) translateY(10%);
        }
    }
    &:not(.active):hover{
        .img::after {
            animation: flashing $trans*2.5 0.05s;
        }
    }
}
