.contactUs {
    .container > *:not(:last-child) {
        margin-bottom: 33px;
    }
    h2 {
        font-size: $fs2;
        color: var(--clr--title);
    }
    color: var(--clr-f-2);
    li {
        @include flex(null, center);
        &:not(:last-child) {
            margin-bottom: 14px;
        }
        span {
            @include size(40px);
            min-width: 40px;
            @include flex(center);
            font-size: $fs-contact;
            color: var(--clr--white);
            background: var(--clr-crd-yellow);
            border-radius: $radius;
        }
    }
    p {
        padding-left: 9px;
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
    button {
        background: var(--clr-crd-green);
        color: var(--clr--white);
        border-radius: $radius;
        padding: 7px;
        width: 100%;
        font-size: $fs-contact;
        font-weight: $fw-bold;
        cursor: pointer;
    }
    br {
        display: none;
    }
    @include mq($lg) {
        &.allow {
            max-width: 100%;
            .container {
                display: grid;
                grid-template-columns: 35% auto;
                column-gap: 3.3%;
                & > *:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
            h2 {
                text-align: left;
                font-size: clamp(10px, 3vw, #{$fs2});
            }
            button {
                max-width: 144px;
                margin-inline: auto;
                margin-bottom: 0 !important;
                max-height: 48px;
            }
            li:not(:last-child) {
                margin-bottom: 12px;
            }
            br {
                display: initial;
            }
            .img {
                grid-column-start: 1;
                grid-row: 1 / span 3;
                &:before {
                    top: 0 !important;
                    left: 0 !important;
                    transform: unset !important;
                    padding-top: 0 !important;
                    height: 100%;
                }
            }
        }
        max-width: 700px;
        margin-inline: auto;
    }
}
