.faqs {
    h2 {
        background: var(--clr--cyan);
        color: var(--clr--white);
        padding: 4.6px;
        border-radius: $radius;
        width: 137px;
        margin-inline: auto;
    }
    .column {
        color: var(--clr-f-2);
        margin-top: 39px;
    }
    p {
        color: var(--clr-f-1);
        padding: 12px;
        margin-right: $p-faqs-m;
    }
    li {
        background: var(--clr--grey);
        border-radius: $radius;
        box-shadow: 0px 4px 10px -8px #0000009e;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.question {
    @include flex(null, center);
    position: relative;
    min-height: $qst-h;
    background: var(--clr--white);
    border-radius: $radius;
    cursor: pointer;
    p {
        font-weight: $fw-bold;
        margin-left: $qst-h;
    }
}
.chevron {
    position: absolute;
    top: 0;
    left: 0;
    min-width: $qst-h;
    height: 100%;
    label {
        @include size(100%);
        @include flex(center);
        cursor: pointer;
        background: var(--clr--cyan);
        border-radius: $radius;
        font-size: $fs3;
        color: var(--clr--white);
    }
    input {
        display: none;
    }
}
//the answer paragraph
.faqs {
    p.answer {
        display: none;
        margin-left: $qst-h;
    }
}
// :onclick
.faqs li.active {
    input + label i {
        transform: scaleY(-1);
    }
    p.answer {
        display: block;
    }
}
