@use "sass:list";
.features {
    background: var(--clr--primary);
    h2 {
        color: var(--clr--white);
    }
    ul {
        @include flex(space-evenly, center) {
            flex-wrap: wrap;
        }
    }
    .card {
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 231px;
        min-height: 231px;
        margin-top: 56px;
        padding: 29px;
        border-radius: $radius;
        background: var(--clr--white);
        cursor: pointer;
        box-shadow: 2px 2px 2px #00000040;
        //a smart way to generate colors for each card
        //no need to indexes
        &:hover img {
            animation: moveTop 2 * $trans linear infinite alternate;
        }
        p {
            display: none;
            margin-top: 25px;
            color: var(--clr--white);
            text-align: center;
            font-size: $fs6;
            line-height: 16.4px;
        }
        img {
            @extend %center-x;
            top: $top-img;
            min-height: 173px;
            width: calc(100% - 58px);
        }
        @each $group, $content in $colors {
            @if ($group == crd) {
                $i: 1;
                @each $color, $hex in $content {
                    @if (length($hex) == 1) {
                        &:nth-of-type(#{$i}) h3 {
                            color: var(--clr-#{$group}-#{"" + $color});
                        }
                        &:nth-of-type(#{$i}).active {
                            background: var(--clr-#{$group}-#{"" + $color});
                        }
                        $i: $i + 1;
                    }
                }
            }
        }
        //another; we need indexes, if crd change his place the loop will not work
        // @for $i from 1 through 6 {.card:nth-child(#{$i}) h3{
        //   color: var(--clr-crd-#{nth(nth(nth(nth($colors, 4), 2), $i), 1)});}}
        &.active {
            h3 {
                color: var(--clr--white);
            }
            p {
                display: block;
            }
            img {
                opacity: 0.2;
                animation: none;
            }
        }
    }
}
