h1 {
    color: var(--clr--title);
    margin: 0;
    margin-bottom: 9px;
    line-height: 35px;
}
header {
    .container {
        @include flex(space-around, center) {
            flex-wrap: wrap;
        }
        & > * {
            flex-basis: 450px;
        }
    }
    p {
        color: var(--clr-f-2);
        font-weight: $fw-light;
        font-size: $fs5;
        text-align: center;
        line-height: 20px;
    }
    .title p {
        font-size: $fs3;
        line-height: 25px;
    }
}
.left_box > * {
    margin-bottom: 24px;
}
.__clipboard {
    font-size: $fs3;
    .screen {
        position: relative;
    }
    input {
        width: 100%;
        padding: 2px $radius;
        height: $input-h;
        border-radius: $radius;
        &,
        &:focus {
            outline: none;
            border: none;
        }
    }
    label {
        @include flex(center);
        position: absolute;
        top: 0;
        right: 0;
        @include size($input-h);
        border-radius: $radius;
        &:active {
            i {
                @extend %on_click2;
            }
        }
    }
}
.generator {
    input {
        color: var(--clr-f-1); //1
        background: var(--clr--grey); //1
        margin-bottom: 9px; //1
    }
    label {
        color: var(--clr--white); //1
        background: var(--clr-btn-grey); //1
    }
    .buttons {
        @include flex(space-between, null);
    }
    button {
        @include flex(space-between, center);
        height: $input-h;
        width: calc(50% - 4.5px);
        border-radius: $radius;
        color: var(--clr--white);
        padding: 13px 18px;
        cursor: pointer;
        &:nth-child(1) {
            background: var(--clr-btn-blue);
            &:hover {
                i {
                    @extend %hover_rotation;
                }
            }
        }
        &:nth-child(2) {
            background: var(--clr-crd-green);
            &:hover {
                i {
                    @extend %hover_scale;
                }
            }
        }
        &:focus {
            @extend %on_click;
        }
    }
}
.remember {
    input {
        background: var(--clr--bg);
        color: var(--clr-f-2);
        &,
        &:focus {
            border: 3px solid var(--clr--grey);
        }
    }
    label {
        color: var(--clr-btn-grey);
    }
    p {
        margin-bottom: 9px;
    }
}
.readMore {
    font-size: $fs5;
    text-align: center;
    margin-top: 43px;
    color: var(--clr--title);
    bottom: 68px;
    i {
        @extend %animation_moveY;
        display: block;
        font-size: $fs3;
        &:nth-of-type(1) {
            opacity: 0.6;
        }
        &:nth-of-type(2) {
            margin-top: -14px;
        }
    }
}
