.reviews {
    background: var(--clr--bg-alt);
    .container {
        @include flex{
            padding: 3rem 0;
        }
    }
    .card {
        width: 400px;
        min-width: 330px;
        $nCard : 3;
        transition: $trans;
        box-shadow: -1rem 0 3rem rgb(0 0 0 / 20%);
        
        &:not(:first-of-type){
            margin-left: -130px;
        }
        &:hover{
            transform: translate(0,-1rem);
            &~.card{
                transform: translate(130px,0);
            }
        }

        padding: 40px 20px 20px;
        background-color: var(--clr--white);
        // box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
        border-radius: 6px;
        position: relative;
        img {
            position: absolute;
            top: 33px;
            right: 27px;
            @include size(90px);
            border-radius: 17%;
            border: 4px solid var(--clr--bg-alt);
        }
        h3 {
            margin-bottom: 10px;
            text-align: left;
        }
        .title {
            color: #333;
        }
        .rate .filled {
            color: #ffc107;
        }
        p {
            line-height: 1.5;
            color: #777;
            margin-top: 35px;
            // margin-bottom: 0;
        }
    }
}