.statistics {
    //old
    // background: var(--clr--primary);
    // color: var(--clr--white);
    //new
    background: var(--clr--bg-alt);
    color: var(--clr--title);
    //new 2
    ul {
        margin: -7px;
        @include flex(space-around, null) {
            flex-wrap: wrap;
        }
        @include mq($sm) {
            justify-content: space-between !important;
        }
    }
    @include mq($md) {
        ul {
        }
        li {
            flex-direction: row !important;
        }
    }
    li {
        margin: 7px;
        @include flex(center) {
            flex-direction: column;
            // flex-basis: calc(33.33% - 14px);
            // flex-wrap: 100px;
            // flex-grow: 100%;
        }
    }
    .square {
        @include size(81px);
        @include flex(center);
        background: var(--clr--white);
        color: var(--clr--primary);
        border-radius: $radius;
        font-size: $fs1;
        // box-shadow: 2px 2px 2px rgb(0 0 0 / 25%);
        box-shadow: 2px 2px 8px -4px rgb(0 0 0 / 25%);
        div {
            @include flex(center, center, column);
            line-height: 32px;
        }
        span {
            font-weight: $fw-bold;
        }
    }
    .details {
        margin: 8px;
        line-height: 30px;
    }
    h5,
    h4 {
        font-weight: $fw-regular;
        font-size: 40px;
    }
    h4 {
        font-size: $fs3;
    }
}
