.stats {
    background-image: url("../images/Statistics/1.jpg");
    background-size: cover;
    min-height: 300px;
    z-index: 1;
    text-align: center;
    @include before {
        @include size(100%);
        top: 0;
        left: 0;
        background: var(--clr--bg-alt);
        opacity: 0.95;
        z-index: -1;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
    }
    .box {
        // background: var(--clr--bg);
        // color: var(--clr-f-2);
        background: var(--clr--white);
        color: var(--clr-f-1);
        padding: 30px;
        border-radius: $radius;
        overflow: hidden;
        box-shadow: 3px 3px 10px -8px #888888;
        @include before-after {
            @include size(4px, 0);
            // background: var(--clr--title);
            background: var(--clr--cyan);
            transition: $trans ease-in-out;
        }
        &::before {
            bottom: 0;
            left: 0;
        }
        &::after {
            top: 0;
            right: 0;
        }
        &:hover {
            &::before,
            &::after {
                height: 100%;
            }
        }
        i {
            font-size: $fs2;
        }
        & > * {
            display: block;
            margin-inline: auto;
        }
        .number {
            font-size: $fs1;
            font-weight: $fw-bold;
            margin: 15px 0;
        }
        .text {
            font-size: $fs5;
            font-style: italic;
            // color: var(--clr--title);
            color: var(--clr--cyan);
            font-weight: $fw-bold;
        }
    }
}