$colors: (
    #{null}: (
            cyan: #407bff,
            grey: #dedede,
            white: #ffffff,
        ),
    font: (
        one: #4d4d4d,
    ),
    button: (
        grey: #b8b8b8,
        blue: #4668c0,
    ),
    card: (
        black: #263238,
        cyan: var(--clr--cyan),
        green: #33bd41,
        red: #c53f3f,
        purple: #7e57c2,
        yellow: #ffc100,
    ),
    social: (
        facebook: #3b5998,
        instagram: #e95950,
        linkedin: #007bb5,
    )
);
//creating css variables
:root {
    @each $group, $content in $colors {
        @each $color, $hex in $content {
            --clr-#{$group}-#{"" + $color}: #{$hex};
        }
    }
}
$themes: (
    // color: (on light theme , on dark theme
    primary: (var(--clr-cyan), #0a1836),
    background: (#f2f2f2, #212121),
    title: (var(--clr--cyan), var(--clr--white)),
    font-two: (var(--clr-font-one), var(--clr--white)),
    social-github: (#212121, var(--clr--white))
);
body.light {
    @each $color, $hex in $themes {
        --clr-#{'' + $color}: #{nth($hex, 1)};
    }
}
body.dark {
    @each $color, $hex in $themes {
        --clr-#{'' + $color}: #{nth($hex, 1)};
    }
}
