// $radius: 14px;
$radius: 0.7rem;
// $radius: 0rem;
$input-h: 50px;
$qst-h: 45px;
$p-faqs-m: 22px;

$trans: 0.7s;
$animation-t: 2s;
$top-img: 21.2%;
$btn-m: 4.5px;

//screens
$mq-settings: 366px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$w-leftBox: 51.6%;
$p-settings: 30px;

$h-logo: 48px;
$pt-topnav: 8px;
$h-topnav: $h-logo + $pt-topnav * 2;

$sticky-m: 7px;
