$flex: (
    justify-content: (
        flex-start,
        flex-end,
        center,
        space-between,
        space-around,
        space-evenly,
        initial,
        inherit,
        null,
    ),
    align-items: (
        stretch,
        center,
        flex-start,
        flex-end,
        baseline,
        initial,
        inherit,
        null,
    ),
    flex-direction: (
        row,
        row-reverse,
        column,
        column-reverse,
        initial,
        inherit,
        null,
    ),
);
$justify-content: nth(nth($flex, 1), 2);
$align-items: nth(nth($flex, 2), 2);
$flex-direction: nth(nth($flex, 3), 2);
